.header {
  grid-column: full-start / full-end;
}

.hero-content {
  &--container {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-mobile-md) {
      align-items: flex-start !important;
      text-align: left !important;
    }
  }

  &--header {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-mobile-md) {
      align-items: flex-start !important;
      text-align: left !important;
    }

    @media only screen and (max-width: $bp-mobile-md) {
      font-size: 4rem !important;
    }
  }
}
