.hero {
  height: 44rem;
  padding: 4rem 0;
  background-size: cover !important;
  align-items: center;
  width: 100%;

  @media only screen and (max-width: $bp-mobile-lg) {
    height: 100%;
    padding: 6rem 0;
  }

  // About Us Hero Banner

  &--about-us {
    background: url("../img/about-us-hero.png") no-repeat;
  }

  // Home Hero Banner

  &--home {
    background: url("../img/hero-image.jpg") no-repeat;
    height: 100vh;
  }

  // Products Hero Banner

  &--products {
    background: url("../img/product-hero.png") no-repeat;
  }

  // Partners Hero Banner

  &--partners {
    background: url("../img/partner-hero.png") no-repeat;
  }

  // Contacts Hero Banner

  &--contacts {
    background: url("../img/contacts-hero.png") no-repeat;
  }

  // Parts Finder Hero Banner

  &--parts-finder {
    background: url("../img/parts-finder-hero.png") no-repeat;
  }
}
